.footerContainer {
  @apply w-full flex flex-col justify-center pt-[100px] items-center gap-[20px];
  @apply px-[20px] pb-[20px];
  @apply lg:pb-[40px] lg:px-[120px] lg:gap-[40px] lg:pt-[80px];
}
.footerContentContainer {
  @apply w-full;
  @apply grid grid-cols-2 gap-y-[40px] justify-between;
  @apply lg:grid-cols-5 lg:gap-x-[40px] lg:flex-nowrap;
  @apply lg:max-w-[1040px];
  @apply xl:max-w-[1200px];
}

.space {
  @apply w-full  h-[1px];
  @apply lg:max-w-[1040px];
  @apply xl:max-w-[1200px];
  background-color: rgba(255, 255, 255, 0.1);
}
.footerBottom {
  @apply w-full  flex flex-col  justify-between items-center gap-[24px] font-[400] text-[12px] leading-[16px] text-white-01;
  @apply lg:flex-row lg:gap-[48px] lg:text-[14px] lg:leading-[22px];
  @apply lg:max-w-[1040px];
  @apply xl:max-w-[1200px];
}
.footerItem {
  @apply font-[400] text-[12px] leading-[16px] cursor-pointer lg:text-[14px] lg:leading-[22px];
}

@media screen and (max-width: 960px) {
  .mobileFooterContainer {
    transform: translateY(0) !important;
  }
}

.localSelectContainer {
  :global .dropdown__menu {
    top: unset;
    bottom: calc(100% - var(--ifm-navbar-item-padding-vertical) + 0.3rem);
  }
}
