.commBottomContainer {
  @apply flex flex-col justify-center items-center gap-[8px] w-full relative rounded-b-[20px] pt-[60px] pb-[40px] px-[20px];
  @apply lg:rounded-b-[40px] lg:pt-[120px] lg:pb-[80px] lg:px-[120px] lg:h-[410px];
}
.commBottomBtnBg {
  @apply absolute w-full  z-[-1] bottom-0 rounded-b-[20px];
}
.bottomBg {
  background: linear-gradient(
    180deg,
    rgba(101, 74, 236, 0) 0%,
    rgba(101, 74, 236, 0.5) 100%
  );
}
.whiteBottomBg {
  background: linear-gradient(
    180deg,
    rgba(81, 106, 181, 0) 0%,
    rgba(81, 106, 181, 0.08) 100%
  );
}
.commBottomTitle {
  @apply font-[700] text-[20px] leading-[24px] text-white-01 text-center;
  @apply lg:text-[40px] lg:leading-[48px];
}
.bottomTitle {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    #ffffff 50%,
    rgba(255, 255, 255, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.whiteBottomTitle {
  background: linear-gradient(
    90deg,
    rgba(11, 12, 15, 0.5) 0%,
    #0b0c0f 50%,
    rgba(11, 12, 15, 0.5) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.commBottomDesc {
  @apply w-full  font-[400] text-[12px] leading-[16px] text-center overflow-ellipsis line-clamp-4;
  @apply text-[14px] leading-[22px];
  @apply lg:w-[600px];
}
.commBottomBtn {
  @apply hover:no-underline flex flex-row justify-center items-center gap-[10px] font-[500] text-[16px] leading-[28px]  rounded-[24px] cursor-pointer px-[32px] py-[10px] w-full;
  @apply lg:w-[320px];
}
.commBottomBtn svg {
  width: 16px;
}
