.bannerContainerStyle {
  @apply lg:flex hidden text-title grow-0 text-white-01 flex-col  items-center font-bold px-[20px];
}

.canvasContainerStyle {
  @apply w-full overflow-hidden absolute z-[-1];
}

.bgStyle {
  @apply hidden lg:block absolute top-[0px] z-[0] w-full h-[382px] object-top object-none;
}

.bgStyle::-webkit-media-controls-enclosure,
.bgStyle::-webkit-media-controls-panel,
.bgStyle::-webkit-media-controls-play-button,
.bgStyle::-webkit-media-controls-start-playback-button {
  display: none;
}

.bannerContentContainer {
  @apply flex justify-center pt-[24px] flex-col items-center gap-[186px];
  @apply lg:max-w-[1040px];
  @apply xl:max-w-[1200px];
}

.bannerTextContainerStyle {
  @apply w-full relative z-[2] flex justify-center flex-col items-center gap-[24px];
}

.sloganStyle {
  @apply text-center text-[56px] leading-[88px] font-[800];
}

.descStyle {
  @apply w-full font-normal text-[16px] leading-[24px] px-[20px] text-center;
}

.buttonContainerStyle {
  @apply flex items-center flex-col content-between gap-[24px] text-[16px] leading-[28px] font-[500];
}

.bannerImageStyle {
  @apply w-full flex items-center justify-center pt-[64px];
}

.colorDescAgentStyle {
  @apply font-[600];
  background: linear-gradient(90deg, #ff33ba 0.77%, #ffb7e7 100.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorDescAppStyle {
  @apply font-[600];
  background: linear-gradient(90deg, #1effff 0%, #c9ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorDescFlowStyle {
  @apply font-[600] text-[16px];
  background: linear-gradient(90deg, #8d33ff 0%, #d1adff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
