.solutionContainerStyle {
  @apply mt-[62px] flex flex-col gap-[32px];
  @apply lg:max-w-[1040px];
  @apply xl:max-w-[1200px];
}

.tabsContainerStyle {
  @apply w-full flex items-center gap-[2px] p-[2px] rounded-[36px] border-[1px] border-white/[0.08] bg-[#16161B] backdrop-blur-[13px];
}

.tabsItemStyle {
  @apply w-full h-full relative flex py-[14px] px-[24px] justify-center items-center flex-1 rounded-[36px] text-white-04 text-[14px] font-[500] leading-[20px] text-center cursor-pointer;
}

.selectedTabStyle {
  @apply text-white-01 font-[600];
}

.splitterItemStyle {
  @apply w-full h-full  absolute top-0 z-[0] rounded-[34px];
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, #3f3849 0%, #262a31 100%);
}

.solutionImageContainerStyle {
  @apply w-full relative overflow-hidden flex flex-row rounded-[12px] rounded-b-none;
}
.solutionImageContainerStyle svg {
  @apply w-full h-auto;
}

.solutionBaseBgStyle {
  @apply w-ful overflow-hiddenl flex-none transition-opacity duration-500 ease-in-out;
}

.solutionSelectBgStyle {
  @apply opacity-100 relative;
}

.solutionUnSelectBgStyle {
  @apply opacity-0 absolute z-[-1];
}

.solutionBaseImageStyle {
  @apply absolute bottom-0 z-[1] left-[50%] transition-opacity duration-500 ease-in-out opacity-100 delay-200 rounded-[8px] rounded-b-none;
  @apply lg:w-[715px];
  @apply xl:w-[825px];
  transform: translateX(-50%);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.18);
}

.solutionSelectImageStyle {
  @apply opacity-100;
}

.linkButtonStyle {
  @apply absolute bottom-[40px] z-[2] left-[50%];
  transform: translateX(-50%);
}
