.containerStyle {
  @apply flex h-full  mb-[60px] lg:h-[calc(100vh-77px)]  overflow-hidden text-title grow-0 text-white-01 flex-col  items-center font-bold px-[20px] relative;
  @apply lg:mb-[120px];
}

.indexBgStyle {
  @apply hidden lg:block w-full lg:h-[calc(100vh-77px)] overflow-hidden absolute z-[-1];
}
.indexBgStyle img {
  @apply w-full lg:h-[1034px] h-auto absolute bottom-0;
}
.canvasContainerStyle {
  @apply w-full h-full  lg:h-[calc(100vh-77px)] overflow-hidden absolute z-[-1];
}

.contentContainer {
  @apply flex h-full flex-col items-center gap-[24px] relative pt-[64px];
  @apply lg:max-w-[1040px] lg:gap-[56px] lg:pt-[150px];
  @apply xl:max-w-[1200px] xl:w-[1200px];
}
.contentContainer svg {
  @apply w-full h-auto;
}

.textContainerStyle {
  @apply w-full relative z-[2] flex justify-center flex-col items-center gap-[24px];
}

.sloganStyle {
  @apply text-center text-[36px] leading-[40px] font-[800];
  @apply lg:text-[56px] lg:leading-[88px];
}

.colorSloganStyle {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.descStyle {
  @apply w-full font-normal text-[14px] leading-[17px] px-[20px] text-center;
  @apply lg:leading-[22px] lg:max-w-[800px];
}

.buttonContainerStyle {
  @apply flex items-center flex-col content-between gap-[24px] text-[16px] leading-[28px] font-[500];
}

.bannerImageStyle {
  @apply w-full flex items-center justify-center pt-[64px];
}

.demoContainerStyle {
  @apply w-full lg:absolute h-auto bottom-0 z-[2];
  perspective: 1040px;
}

.demoImgStyle {
  @apply lg:block hidden w-full max-w-full relative rounded-[12px] rounded-b-none overflow-hidden;
  transform-origin: center;
}

.linkButtonStyle {
  @apply absolute lg:bottom-[40px] bottom-[16px] z-[2] left-[50%];
  transform: translateX(-50%);
}
