.bannerContainer {
  @apply w-full h-full flex flex-col items-center justify-center  gap-[32px] relative overflow-hidden lg:hidden py-[32px];
}

.textContainerStyle {
  @apply px-[20px]  w-full flex flex-col items-center gap-[24px];
}
.sloganStyle {
  @apply text-white-01 text-[40px] self-start text-start font-[700]  leading-[44px];
}

.descStyle {
  @apply text-white-01 text-[16px] self-start text-start leading-[24px];
}

.linkGroupItemStyle {
  @apply flex flex-col items-center gap-[8px];
}

.colorDescAgentStyle {
  @apply font-[700];
  background: linear-gradient(90deg, #ff33ba 0.77%, #ffb7e7 100.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorDescAppStyle {
  @apply font-[700];
  background: linear-gradient(90deg, #1effff 0%, #c9ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorDescFlowStyle {
  @apply font-[700];
  background: linear-gradient(90deg, #8d33ff 0%, #d1adff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
